
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            position: absolute;
            right: 10px;
            top: 5px;
        }
    </style>
</head>
<body>
    
    <div>

    <button type="button" onclick="location.href='{% url 'log' %}'">Logout</button>
</div>
we{{e}}
<br><br>
Date : {{d}}<br>
Work : {{w}}<br>
Progress : {{p}}<br>
Image Output:<br>
<img src="{{i}}" width="50%" height="50%">


</body>
</html>